:root {
    --text-color: #fff;
    --black-color: #000;
    --white-color: white;
    --primary-color: #ff6633;
    --primary-botom-color:#f63e2e;
}

* {
    box-sizing: inherit;
}

* {
    height: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
}

button.disabled {
    color: #949494;
    background-color: #c3c3c3c3;
    cursor: default;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn {
    min-width: 142px;
    height: 36px;
    border: none;
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    color: #363535;
}

.btn.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
