:root{
    --header-height:119px;
    --navbar-height:34px;
}

.header {
    top:0;
    left:0;
    right:0;
    position:fixed;
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6633, #f63e2e);
    z-index:1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar__item {
    min-height: 26px;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
}

.navbar__item,
.navbar__item-link {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
}

.strong {
}

.navbar__list .separate2px::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    border-right: 2px solid #f96c5c;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list .separate1px::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fa8f82;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__item-link i {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding-left: 7px;
    padding-right: 7px;
}

.navbar__item-link .fa-instagram {
    font-size: 1.8rem;
    padding-left: 3px;
}

/* Header QR code */

.navbar__item-link {
    position: relative;
}

.qr {
    z-index: 1;
    height: auto;
    width: 184px;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 4px;
    border-radius: 2px;
    border:1px solid rgba(0,0,0,0.1);
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.qr-before{
    position: absolute;
    left: 10px;
    top:-10px;
    border-width:0 30px 10px 15px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;

}

.qr__img-qr {
    width: 100%;
}

.qr-app {
    display: flex;
    flex-wrap: wrap;
}

.qr-app img {
    height: 16px;
}

.qr-app__app-store,
.qr-app__huawei,
.qr-app__google {
    padding-left: 12px;
    margin: 4px 0;
}

.show-qr:hover .qr {
    display: block;
}

.notify {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 402px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 1px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: notifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
}

.notify__before,
.in-cart__before{
    border-style: solid;
    border-width: 0 15px 10px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -10px;
}

@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.show-notify:hover .notify {
    display: block;
}

.notify__img {
    display: block;
    margin: auto;
    padding-top: 85px;
    padding-bottom: 20px;
    width: 100px;
    height: auto;
}

.notify p {
    display: block;
    height: auto;
    margin-bottom: 85px;
    text-align: center;
    font-size: 1.6rem;
    color: #757575;
}

.notify__button {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.notify__button button {
    background-color: #f5f5f5;
    color: #313131;
    border: none;
    width: 50%;
    user-select: none;
    cursor: pointer;
}

.notify__button button:hover {
    background-color: #dddddd;
    color: #ff6333;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation:fadeIn linear 0.1s;
    display: none;
    align-items: center;
}
.modal__overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal__body {
    height: auto;
    width:auto;
    margin: auto;
    border-radius: 2px;
    z-index:1;
}

.modal__inner{
    background-color:inherit;
}

/* Auth form */

.auth-form {
    margin: auto;
    background-color:var(--white-color);
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
}

.auth-form__heading,
.auth-form__switch-btn {
    margin:30px 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color:var(--primary-color);
}
.auth-form__input{
    width:calc(100% - 32px);
    height:40px;
    margin:16px;
    padding:0 12px;
    font-size:1.4rem;
    outline:none;
}
.auth-form__input:focus{
    border-style: solid;
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy{
    font-size:1.2rem;
    line-height:1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__policy-link{
    color:var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top:50px;
    display:flex;
    justify-content: flex-end;
}
.auth-form__social{
    display:flex;
    justify-content:center;
    background-color: #d5d2d2;
    margin:16px 0 0;
}
.btn--with-icon{
    min-width: 180px;
    height:40px;
    margin: 10px 5px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
}
.btn--with-icon img{
    display: flex;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    height:2rem;
}
.btn--with-icon i{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 7px;
    padding-right: 7px;
}
.btn--with-icon.google{
    background-color:var(--white-color);
    color: #666666;
}
.btn--with-icon.facebook{
    background-color:#1877f2;
    color:var(--white-color);
}
.header-body{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:calc(var(--header-height) - var(--navbar-height));
}
.logo{
    width:277px;
    align-items: center;
}
.logo img{
    height:59px;
    width:auto;
}

.search{
    height:59px;
    width:100%;
}
.cart{
    margin: 0 10px;
    height:59px;
    width:138px;
    display: flex;
    justify-content:center;
    align-items: center;
    position:relative;
}
.in-cart{
    display: none;
    position: absolute;
    right: calc(50% - 40px);
    top: 100%;
    width: 410px;
    height:auto;
    background-color:var(--white-color);
    border-radius:2px;
    border:1px solid rgba(0,0,0,0.1);
    z-index: 1;
}
.in-cart__img{
    width:100%;
    display: flex;
}
.in-cart__img img{
    height:100px;
    margin:20px auto;
}
.in-cart p{
    text-align: center;
    margin:0 0 40px 0;
    font-size:1.6rem;
    color:#777777;
}
.fa-shopping-cart{
    height: auto;
    width: auto;
    font-size:26px;
    color:var(--white-color);
}
.cart i:hover{
    opacity: 0.7;
    cursor: pointer;
}
.cart:hover .in-cart{
    display:block;
}
.search-bar{
    position:relative;
    height:40px;
    background-color:var(--white-color);
    border-radius:2px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:3px;
}
.search-bar__input{
    height:100%;
    width: 100%;
    padding:0 5px 0 10px;
    font-size:1.6rem;
    border: none;
    outline:none;
}
.search-bar__submit{
    height:100%;
    width:60px;
    border-radius:1px;
    background-color:var(--primary-color);
    color:var(--white-color);
    font-size:1.4rem;
    border: none;
}
.search-bar__submit i{
    height:auto;
    width:auto;
}
.menu{
    height:19px;
    min-width:580px;
    margin:5px 0 0;
}
.menu_item-link{
    height:auto;
    width:auto;
    margin:0 0 0 13px;
    text-decoration: none;
    font-size:1.2rem;
    color:var(--white-color);
}
.menu_item-link:hover{
    opacity: 0.7;
}

.search-bar__input:focus ~ .history-search{
    display: block;
}
.history-search{
    display:none;
    border:1px solid rgba(0,0,0,0.1);
    position:absolute;
    top: calc(100% + 5px);
    left: 0;
    height:auto;
    width: calc(100% - 75px);
    border-radius: 2px;
    background-color: var(--white-color);
}
.history-search__list{
    list-style:none;
}
.history-search__item{
    font-size:1.4rem;
    height:30px;
}
.history-search__item a{
    padding:0 5px;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width:100%;
    text-decoration: none;
    color:var(--black-color);
}
.history-search__item a:hover{
    background-color: #cecece;
}
.container{
    position: relative;
    top:var(--header-height);
    left: 0;
    right: 0;
    height: calc(5 * var(--header-height));
    background-color:var(--white-color);
}
.footer{
    position: relative;
    top:var(--header-height);
    left: 0;
    right: 0;
    height: calc(2 * var(--header-height));
    background-color:yellow;
}