:root {
    --header-height: 119px;
    --navbar-height: 34px;
    --header-background-image: linear-gradient(0, #ff6633, #f63e2e);
}

.app {
    display: block;
}

body {
    background-color: #f5f5f5;
    display: block;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: var(--header-height);
    background-image: var(--header-background-image);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    min-height: 26px;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
}

.navbar__item,
.navbar__item-link {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
}

.strong {
}

.navbar__list .separate2px::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    border-right: 2px solid #f96c5c;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list .separate1px::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fa8f82;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__item-link i {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding-left: 7px;
    padding-right: 7px;
}

.navbar__item-link.account img {
    margin-left: 8px;
    background-color: var(--white-color);
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.navbar__item-link .fa-instagram {
    font-size: 1.8rem;
    padding-left: 3px;
}

/* Header QR code */

.navbar__item-link {
    position: relative;
}

.qr {
    z-index: 1;
    height: auto;
    width: 184px;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.qr-before {
    position: absolute;
    left: 10px;
    top: -10px;
    border-width: 0 30px 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;

}

.qr__img-qr {
    width: 100%;
}

.qr-app {
    display: flex;
    flex-wrap: wrap;
}

.qr-app img {
    height: 16px;
}

.qr-app__app-store,
.qr-app__huawei,
.qr-app__google {
    padding-left: 12px;
    margin: 4px 0;
}

.show-qr:hover .qr {
    display: block;
}

.notify {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 402px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 1px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: notifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
}

.notify__before,
.in-cart__before,
.tail {
    border-style: solid;
    border-width: 0 15px 10px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -10px;
}

@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.show-notify:hover .notify {
    display: block;
}

.notify__img {
    display: block;
    margin: auto;
    padding-top: 85px;
    padding-bottom: 20px;
    width: 100px;
    height: auto;
}

.notify p {
    display: block;
    height: auto;
    margin-bottom: 85px;
    text-align: center;
    font-size: 1.6rem;
    color: #757575;
}

.notify__button {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.notify__button button {
    background-color: #f5f5f5;
    color: #313131;
    border: none;
    width: 50%;
    user-select: none;
    cursor: pointer;
}

.notify__button button:hover {
    background-color: #dddddd;
    color: #ff6333;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
    display: none;
    align-items: center;
    z-index: 1;
}
.modal:target{
    display:flex;
}

.modal__overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal__body {
    height: auto;
    width: auto;
    margin: auto;
    border-radius: 2px;
    z-index: 1;
}

.modal__inner {
    background-color: inherit;
}

/* Auth form */

.auth-form {
    margin: auto;
    background-color: var(--white-color);
    width: 500px;
}
.auth-form.register{
}
.auth-form.login{
    display:none;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
}

.auth-form__heading,
.auth-form__switch-btn {
    margin: 30px 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.auth-form__input {
    width: calc(100% - 32px);
    height: 40px;
    margin: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
}

.auth-form__input:focus {
    border-style: solid;
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__social {
    display: flex;
    justify-content: center;
    background-color: #d5d2d2;
    margin: 16px 0 0;
}

.btn--with-icon {
    min-width: 180px;
    height: 40px;
    margin: 10px 5px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
}

.btn--with-icon img {
    display: flex;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    height: 2rem;
}

.btn--with-icon i {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 7px;
    padding-right: 7px;
}

.btn--with-icon.google {
    background-color: var(--white-color);
    color: #666666;
}

.btn--with-icon.facebook {
    background-color: #1877f2;
    color: var(--white-color);
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--header-height) - var(--navbar-height));
}

.logo {
    width: 277px;
    align-items: center;
}

.logo img {
    height: 59px;
    width: auto;
}

.search {
    height: 59px;
    width: 100%;
}

.area-cart {
    margin: 0 10px;
    height: 59px;
    width: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.cart {
    margin: auto;
    height: auto;
    width: auto;
}

.fa-shopping-cart {
    font-size: 26px;
    background-image: var(--header-background-image);
}

.fa-shopping-cart::before {
    color: var(--white-color);
}

.cart:hover .fa-shopping-cart:before {
    color: #FAE7E4FF;
}

.cart:hover .cart-has-product__icon {
    background-color: #FAE7E4FF;
}

.cart-has-product__icon {
    position: absolute;
    --this--height: 20px;
    top: calc(50% - var(--this--height));
    left: 50%;
    height: var(--this--height);
    width: auto;
    min-width: 20px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cart:hover .in-cart {
    display: block;
}

.in-cart {
    display: none;
    position: absolute;
    right: calc(50% - 40px);
    top: 100%;
    width: 410px;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.cart-empty {
    display: none;
}

.in-cart__before {
    top: -20px;
    border-top-width: 10px;
}

.in-cart__img {
    width: 100%;
    display: flex;
}

.in-cart__img img {
    height: 100px;
    margin: 20px auto;
}

.in-cart p {
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 1.6rem;
    color: #777777;
}

.cart i:hover {
    background-color: #FFFFFFB2;
    cursor: pointer;
}

.search-bar {
    position: relative;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.search-bar__input {
    height: 100%;
    width: 100%;
    padding: 0 5px 0 10px;
    font-size: 1.6rem;
    border: none;
    outline: none;
}

.search-bar__submit {
    height: 100%;
    width: 60px;
    border-radius: 1px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.4rem;
    border: none;
}

.search-bar__submit i {
    height: auto;
    width: auto;
}

.menu {
    height: 19px;
    min-width: 580px;
    margin: 5px 0 0;
}

.menu_item-link {
    height: auto;
    width: auto;
    margin: 0 0 0 13px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white-color);
}

.menu_item-link:hover {
    opacity: 0.7;
}

.search-bar__input:focus ~ .history-search {
    display: block;
}

.history-search {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    height: auto;
    width: calc(100% - 75px);
    border-radius: 2px;
    background-color: var(--white-color);
}

.history-search__list {
    list-style: none;
}

.history-search__item {
    font-size: 1.4rem;
    height: 30px;
}

.history-search__item a {
    padding: 0 5px;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
}

.history-search__item a:hover {
    background-color: #cecece;
}


.cart-has-product {
    width: auto;
    height: auto;
    display: block;
}

.cart-has-product p {
    margin: 10px;
    color: #bbbbbb;

}

.cart-has-product .show-all {
    font-size: 1.2rem;
    color: #555555;
    background-color: #eeeeee;
    margin: 0;
    padding: 4px 0;
    cursor: pointer;
}

.cart-has-product .show-all:hover {
    background-color: #cccccc;
    color: var(--primary-botom-color);
}

.product-list {
    cursor: pointer;
    display: block;
    list-style: none;
    background-color: var(--white-color);
}

.product__item {
    font-size: 1.4rem;
    padding: 8px 10px;
}

.product__item:hover {
    background-color: #dddddd;
}

.account:hover .account-info {
    display: block;
}

.account-info {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    height: auto;
    width: auto;
    background-color: white;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.account-info__username {
    margin: auto 5px;
    height: auto;
    width: auto;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tail {
    width: 0;
    height: 0;
}

.account-info__item {
    color: #555555;
    list-style: none;
}

.account-info__item {
    padding: 6px 15px;
}

.account-info__item:hover {
    color: var(--primary-botom-color);
    background-color: #efefef;
}

.color-green {
    color: #1ea059;
    background-color: #f5f5f5;

}

.container {
    position: relative;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: auto;
}

.category {
    margin: 10px 0;
    height: calc(100% - 40px);
    border-radius: 2px;
    background-color: var(--white-color);
    color: #555555;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.category__label {
    width: 100%;
    height: auto;
    padding: 10px;
    color: #666666;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
}

.category__label i {
    font-size: 1.6rem;
    display: none;
}

.category__label i:hover {
    color: var(--primary-color);
}

.category-list {
    list-style: none;
    font-size: 1.4rem;
}

.category-item {
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.category-item:hover {
    padding: 0 1px;
}

.category-item__link {
    color: #555555;
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 12px;
}

.category-item:hover, .category-item:hover .category-item__link {
    background-color: #eeeeee;
    color: var(--primary-color);
}

.home-filter {
    width: 100%;
    padding: 10px;
    background-color: #dddddd;
    margin-top: 12px;
    border-radius: 2px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-filter__label {
    margin: auto 12px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #555555;
}

.home-filter .btn {
    margin: 0 2px;
}

.select-sort {
    border-left: 2px solid #f5f5f5;
    outline: none;
    height: 36px;
    background-color: #efefef;
    font-size: 1.4rem;
    color: #555555;
    display: flex;
    justify-content: center;
}
.select-sort label {
    display: flex;
}

.select-sort:hover {
    color: #555555;
}

.select-sort__label {
    margin: auto 12px;
    display: flex;
    align-items: center;
}

.select-sort__input {
    outline: none;
    cursor: pointer;
    margin: auto 4px;
    height: 80%;
    border: none;
}

.select-sort__input option {
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.filter-left, .filter-right {
    font-size: 1.4rem;
    width: auto;
    height: 36px;
    display: flex;
    align-items: center;
}

.filter-right {
    background-color: #efefef;
    border-radius: 2px;
    color: #555555;
}

.filter-right p {
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-right: 4px solid rgba(0, 0, 0, 0.1);
}

.filter-right button {
    height: 100%;
    font-size: 1.6rem;
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px 0 0;
    border-radius: 2px;
}

.filter-right button i {
    height: 100%;
    color: #888888;
    display: flex;
    align-items: center;
}

.filter-right button i:hover {
    color: var(--primary-color);
}

.filter-right button i:before {
    padding: 0 15px;
    color: inherit;
}

.product {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.product:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
}

.product__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--text-color);
    position: relative;
}

.product__img img {
    width: calc(100% + 2px);
    height: auto;
    position: absolute;
    top: 0;
    left: -1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-name {
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333333;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__price {
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
}

.product__price-old {
    font-size: 1.4rem;
    color: #555555;
    text-decoration: line-through;
}

.product__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.product__action, .product__origin {
    margin: 4px 10px;
    display: flex;
    justify-content: space-between;
}

.product__action-heart {
    flex: 1;
}

.product__sold {
    max-width: 60px;
}

.product__start {
    display: inline-flex;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
    color: #888888;
}

.product__start i.gold {
    color: #eed815;
}

.product__origin {
}

.product__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 2px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product__favourite:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-botom-color);
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.product__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    width: 40px;
    background-color: rgba(255, 215, 0, 0.9);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 5px;
}

.product__sale-off .after {
    position: absolute;
    left: 0;
    top: 100%;
    border: solid;
    height: 4px;
    border-width: 0 20px 4px 20px;
    border-color: red rgba(255, 215, 0, 0.9) transparent rgba(255, 215, 0, 0.9);
    width: 0;
}

.sale-off__percent {
    font-weight: 500;
    color: red;
}

.sale-off__label {
    color: var(--text-color);
}

.pagination-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    background-color: #efefefef;
}

.pagination {
    border-radius: 2px;
    width: 40px;
    height: 25px;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__link {
    height: auto;
    width: auto;
    font-weight: 300;
    text-decoration: none;
    color: #888888;
    font-size: 1.6rem;
}

.pagination__link:hover {
    color: var(--primary-color);
}

.footer {
    margin-top: 40px;
    border-top: 4px solid var(--primary-botom-color);
    position: relative;
    top: var(--header-height);
    left: 0;
    right: 0;
    color: #555555;
    padding-top:50px;
}

.footer-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer__list {
    list-style: none;
}

.footer__item {
    margin: 0 0 12px;
}

.footer__item a:hover {
    color: var(--primary-color);
}

.footer__item a {
    line-height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

.footer__item-qr {
    display: flex;
    cursor: pointer;
}
.footer__item-qr img:hover {
    opacity:0.7;
}

.qr__item {
    width: 86px;
}

.qr__item img {
    width: 100%;
}
.footer-pay i {
    margin: 0 20px 20px 0;
    font-size: 40px;
}
.follow i {
    margin: 0 8px 0 0;
    font-size: 20px;
    width: 20px;
}
.follow{
    height:20px;
    display: flex;
}
.follow a{
    line-height: 20px;
    margin: auto 0;
    cursor:pointer;
}
.follow .fa-facebook{
    color:#3b5998;
}
.follow .fa-instagram{
    color: #fbad50;
}
.follow .fa-twitter-square{
    color:#00acee;
}
.footer-copyright{
    margin:40px 0;
    padding:40px 0;
    text-align: center;
    font-size: 1.6rem;
    background-color:#dddddd;
}